# 01. intro

## shortcut
- ctrl + enter : 현재 셀 실행
- shift + enter : 현재 셀 실행 & 아래로 이동
- alt + enter : 현재 셀 실핼 & 아래로 새로운 셀 생성

## 주의사항

1. Apple / apple : 대소문자 구분!
2. git add . / git add. : 띄어쓰기 구분!
3. message / massage : 오탈자 주의!

In [ ]:
# 여기는 주석 입니다.

## 1. 변수

변수이름 = 값

- 변수이름은 어떤 이름이든 사용가능
- 다만 영어, 숫자, _를 이용하여 선언
- 키워드는 사용불가

In [9]:
a = 30

In [10]:
a

30

In [12]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [13]:
seoul_dust_rate = 50

### 1.1 number

In [14]:
a = 100000

In [15]:
a

100000

In [17]:
type(a)

int

In [18]:
b = 1.1

In [19]:
b

1.1

In [20]:
type(b)

float

In [21]:
c = 1-4j

In [22]:
c

(1-4j)

In [23]:
type(c)

complex

### 1-2. boolean

True, False로 이루어진 타입

In [24]:
a = True

In [25]:
a

True

In [26]:
type(a)

bool

In [28]:
b = False

In [29]:
b

False

In [30]:
type(b)

bool

### 1-3. None

In [31]:
a = None

In [32]:
type(a)

NoneType

### 1.4 String

- 문자열은 `'`, `"`를 이용해서 표현

In [33]:
a = 'hello'

In [34]:
type(a)

str

In [35]:
b="world"

In [36]:
type(b)

str

In [46]:
age = input() #숫자로 넣어도 글자로 저장됨
print(age)
print(type(age))

 29

29
<class 'str'>

In [42]:
#print('안녕하세요 '김민수'입니다.') ''안에 ''불가능
print('안녕하세요 "김민수" 입니다.') #`'`, `"`각 안에 써야할때는 반대로 넣어줘야함
print("안녕하세요 '김민수' 입니다.")

안녕하세요 "김민수" 입니다.
안녕하세요 '김민수' 입니다.

In [43]:
print('안녕하세요. \'김민수\'입니다.')

안녕하세요. '김민수'입니다.

In [47]:
a = '''
안녕하세요 '김민수'입니다.
여러줄도 작성가능합니다.
'''
print(a)

안녕하세요 '김민수'입니다.
여러줄도 작성가능합니다.

In [49]:
print('안녕하세요. \n김민수입니다. \t들여쓰기 이스케이프 문자열입니다.')

안녕하세요.
김민수입니다. 	들여쓰기 이스케이프 문자열입니다.

#### string interpolation

1. %-formatting
2. str.format()
3. f-string

In [50]:
age = 10

In [51]:
print('홍길동은 %s살 입니다.' % age)

홍길동은 10살 입니다.

In [53]:
print('홍길동은 {}살 입니다.'.format(age))

홍길동은 10살 입니다.

In [52]:
print(f'홍길동은 {age}살 입니다.')

홍길동은 10살 입니다.

### 2. 연산자

#### 2.1 산술연산자

In [61]:
a = 7
b = 3

In [65]:
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a ** b)

15
-5
50
0.5
9765625

In [66]:
# a를 b로 나눈 몫
print(a // b)
# a를 b로 나눈 나머지
print(a % b)
# 몫과 나머지를 같이
print(divmod(a, b))

0
5
(0, 5)

#### 2.2 비교연산자

In [63]:
a = 5
b = 10

In [67]:
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False
True
False
True

In [69]:
print(a == b)
print(a != b)

False
True

In [70]:
print('hi' == 'hi')
print('hi' == 'Hi')

True
False

#### 2.3 논리 연산자

- and : 양쪽 모두 True일 때, True를 반환
- or : 양쪽 모두 False일 때, False를 반환
- not :

In [71]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [72]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [73]:
result = True
print(not result)

False

In [74]:
# 단축평가(and)

print(3 and 5)
print(3 and 0)
print(0 and 3)
print(0 and 0)

5
0
0
0

In [75]:
# 단축평가(or)

print(3 or 5)
print(3 or 0)
print(0 or 3)
print(0 or 0)

3
3
3
0

#### 2.4 복합 연산자

In [76]:
a = 1
b = 2

In [ ]:
a = a + b
a = a - b
a = a * b
a = a / b

In [ ]:
a += b
a -= b
a *= b
a /= b
a //= b
a %= b
a **= b

#### 2.5 기타 연산자

In [77]:
a = 'hi'
b = 'hello'

In [81]:
# concatenation
print(a + b)

[1, 2, 3, 4, 5, 6]

In [82]:
a = [1, 2, 3]
b = [4, 5, 6]

In [83]:
print(a + b)

[1, 2, 3, 4, 5, 6]

In [85]:
# containment
print(1 in a) #(a에 1이 포함되어있는지?)
print(5 in a)

True
False

In [86]:
# identity
a = 5
b = 5

print(a == b)
print(a is b)

True
True

In [87]:
a = 123123
b = 123123

print(a == b)
print(a is b)

True
False

#### 우선순위

0. ()를 통해 그룹
1. **
2. 산술연산자(*, /)
3. 산술연산자(+, -)
4. 비교연산자, in, is
5. not
6. and
7. or

In [90]:
print(-3 ** 4) # -보다 **이 연산자 우선순위가 높기때문에 -81이 나옴
print((-3)**4)

-81
81

### 3. 형변환
#### 3.1 암시적 형변환

In [91]:
a = True
b = False
c = 1

In [93]:
print(a + b)
print(b - c)

1
-1

In [94]:
int_num = 3
float_num = 3.3
complex_num = 3 + 3j

In [97]:
print(int_num + float_num)
print(complex_num + float_num)

6.3
(6.3+3j)

In [98]:
print(type(int_num + float_num))
print(type(complex_num + float_num))

<class 'float'>
<class 'complex'>

#### 3.2 명시적 형변환

- int() : string, float => int
- float() : string, int => float
- str() : int, float => string
- bool() : int, string => bool

In [99]:
a = 1
b = '번'

In [101]:
print(str(a)+b)

1번

In [102]:
a = '3'
print(type(a))

<class 'str'>

In [104]:
print(type(int(a)))

<class 'int'>

In [ ]:
a = 'a'
#print(int(a))

In [105]:
a = '3.3'
#print(int(a)) error
print(float(a))

3.3

In [106]:
a = 1
b = 0

print(bool(a))
print(bool(b))

True
False

In [108]:
print(bool([]))

False

In [107]:
print(bool([1, 2, 3]))

True

### 4. 시퀀스 자료형

- 시퀀스는 데이터의 순서대로 나열된 자료구조. (순서대로 나열되었다는 것은 정렬된 것과 다르다)

1. List []
2. Tuple ()
3. Range
4. String

#### 4.1 List(리스트, 배열)

- 선언 : 변수이름 = [value1, value2, value3 ...]
- 접근 : 변수이름[index]

In [110]:
l = []
print(l)
print(type(l))

[]
<class 'list'>

In [115]:
location = ['서울', '대전', '부산']
print(location)
print(location[0])

location[1] = '광주'
print(location)

['서울', '대전', '부산']
서울
['서울', '광주', '부산']

#### 4.2 Tuple(튜플)

- 선언 : 변수이름 = (value1, value2, value3 ...)
- 접근 : 변수이름[index]
- 리스트와 유사하지만 수정 불가능(immutable)이다.

In [116]:
number = (123, 456, 789)
print(number)
print(number[1])

(123, 456, 789)
456

In [118]:
x, y = (1, 2)
print(x, y)

x, y = y, x
print(x, y)

1 2
2 1

#### 4.3 Range

- range(n) : 0부터 n-1까지 범위
- range(n, m) : n부터 m-1까지 범위
- range(n, m, s) : n부터 m-1까지 s만큼 증가하는 범위

In [122]:
#로또번호 뽑기

#lotto = [1, 2, 3, 4, 5 ..., 45]
lotto = range(45)

print(list(lotto))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44]

In [123]:
numbers = range(5, 10)
print(numbers)
print(list(numbers))

range(5, 10)
[5, 6, 7, 8, 9]

In [124]:
even = range(2, 20, 2)
print(even)
print(list(even))

range(2, 20, 2)
[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [125]:
numbers = range(0, -10, -2)
print(numbers)
print(list(numbers))

range(0, -10, -2)
[0, -2, -4, -6, -8]

#### 4.4 String

기본 데이터 구조 참조

#### 4.5 시퀀스에서 활용가능한 연산/함수

- 시퀀스는 indexing(하나씩 접근) 가능
- 시퀀스는 slicing(자르기) 가능
- 시퀀스는 in(포함여부)/not in(불포함 여부) 가능
- 시퀀스는 concatenation(연결) 가능
- 시퀀스는 *(반복), min, max 등 반복 및 특정값 출력 가능

In [128]:
my_list = [1, 2, 3, 4, 5]
my_tuple = (1, 2, 3, 4, 5)
my_range = range(5)
my_string = '12345'

In [129]:
# indexing

print(my_list[0])
print(my_tuple[0])
print(my_range[0])
print(my_string[0])

1
1
0
1

In [133]:
# slicing

print(my_list[1:3])
print(my_tuple[1:3])
print(my_range[1:3])
print(my_string[1:3])

print(my_string[0:4:2])

[2, 3]
(2, 3)
range(1, 3)
23
13

In [137]:
# in

print(1 in my_list)
print(1 in my_tuple)
print(1 in my_range)
print('1' in my_string)

# not in
print(1 not in my_list)

True
True
True
True
False

In [140]:
# concatenation

print(my_list + [6, 7, 8, 9, 10])
print(my_tuple + (6, 7, 8, 9, 10))
print(my_string + '678910')

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
12345678910

In [143]:
# * 반복작업

print('#' * 10)
print([0] * 10)

##########
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [147]:
print(len(my_list)) #길이

5

In [146]:
print(max(my_list)) #최대값
print(min(my_list)) #최솟값

5
1

### 5. 시퀀스형이 아닌 자료구조

#### 5.1 Set

수학에서 사용하는 집합과 동일한 개념 (중복값이 없음)

- 선언 : 변수이름 = {value1, value2, value3 ...}

In [148]:
my_set_a = {1, 3, 5, 7, 9}
my_set_b = {1, 2, 3, 4, 5}

In [150]:
print(my_set_a - my_set_b) #차집합
print(my_set_a | my_set_b) #합집합
print(my_set_a & my_set_b) #교집합

{9, 7}
{1, 2, 3, 4, 5, 7, 9}
{1, 3, 5}

In [152]:
#중복값 확인
test_set = {1, 2, 3, 4, 1, 3, 4, 5, 6, 1, 2, 3, 4, 5}
print(test_set)

{1, 2, 3, 4, 5, 6}

#### 5.2 Dictionary

- 선언 : 변수이름 = {key1:value1, key2:value2, key3:value3 ...}
- 접근 : 변수이름[key] -> 출력 : value

In [154]:
my_dict = {'서울':'02', '경기':'031', '충북':'043'}
print(my_dict)
print(my_dict['서울'])

{'서울': '02', '경기': '031', '충북': '043'}
02

In [155]:
my_info = {
    'name':'minsu',
    'location':'seoul',
    'age': 29
}

print(my_info['location'])

seoul

In [156]:
my_info.keys()

dict_keys(['name', 'location', 'age'])

In [158]:
my_info.values()

dict_values(['minsu', 'seoul', 29])

##### 데이터 타입
1. Number
2. Boolean
3. String

##### 자료구조
- 시퀀스 자료형

1. .[list]. : mutable
2. (Tuple) : immutable
3. range() : immutable
4. 'String' : immutable

- 시퀀스 자료형

1. {set} : mutable
2. {Dict: ionary} : mutable