# 함수(function)

In [4]:
height = 50
width = 30

area = height * width
perimeter = (height + width) * 2

print(f'사각형의 넚이는 {area}이고, 둘레는 {perimeter}입니다.')

사각형의 넚이는 1500이고, 둘레는 160입니다.

## 1. 함수의 선언과 호출

- 함수의 선언

```python
def func_name(parameter1, parameter2, ...):
    code1
    code2
    ...
    return value
```

- 함수의 호출(실행)

```python
func_name(parameter1, parameter2, ...)
```

In [10]:
def rectangle(height, width):
    area = height * width
    perimeter = (height + width) * 2
    print(area, perimeter)

In [13]:
rectangle(100, 200)
rectangle(500, 500)
rectangle(5, 10)

20000 600
250000 2000
50 30

In [16]:
max([1, 2, 3, 4])

4

In [18]:
def my_max(num1, num2):
    if num1 > num2:
        print(num1)
    elif num1 == num2:
        print('같습니다')
    else:
        print(num2)

In [20]:
my_max(5, 1)
my_max(2, 4)
my_max(4, 4)

5
4
같습니다

## 2. 함수의 return

- 함수가 return을 만나면 해당 값을 반환하고 함수를 종료
- 만약 return이 없는 경우 None을 자동으로 반환
- return은 오직 하나의 객체만 반환한다.

In [22]:
result = my_max(1, 2)
print(result)

2
None

In [24]:
def my_max2(num1, num2):
    if num1 > num2:
        return num1
    elif num1 < num2:
        return num2
    else:
        return num1

In [30]:
#print를 통해 만든 함수
result = my_max(1, 2)
print(result)

2
None

In [32]:
#return을 통해 만든 함수
result = my_max2(1, 2)
print(result)

2

In [59]:
#version1
def my_list_max(list1, list2):
    if sum(list1) > sum(list2):
        return(list1)
    elif sum(list1) == sum(list2):
        return('같습니다')
    else:
        return(list2)

In [63]:
my_list_max([1, 2, 3], [2, 3, 4, 5, 6, 7, 8])

[2, 3, 4, 5, 6, 7, 8]

In [61]:
#version2
def my_list_max2(list1, list2):
    result1 = 0
    result2 = 0

    for num in list1:
        result1 += num

    for num in list2:
        result2 += num

    if result1 > result2:
        return list1
    elif result1 < result2:
        return list2
    else:
        return print('같습니다')

In [64]:
my_list_max2([1, 2, 3], [2, 3, 4, 5, 6, 7, 8])

[2, 3, 4, 5, 6, 7, 8]

In [68]:
def my_def(x):
    return x * 3
    return x * 2 # 첫번째 return을 만나면 실행 후 종료되어 동작 x

In [69]:
my_def(10)

30

In [70]:
def my_def2(x):
    if x < 0:
        return 0
    else:
        return x

print(my_def2(10))

10

## 3. 함수의 인수
### 3-1. 위치인수

- 기본적으로 함수는 위치를 기분으로 인수를 판단합니다.

In [72]:
def cylinder(r, h):
    return (3.14) * (r**2) * (h)

In [76]:
print(cylinder(10, 5))
print(cylinder(5, 10))

1570.0
785.0

### 3-2. 기본값
> 사용자가 넣은 데이터가 없었을때 활용되는 자료

```python
def func(p1=v1):
    code...
    return vlaue
```

In [81]:
print('안녕하세요', '저는 길동이에요', sep='?', end='!')

안녕하세요?저는 길동이에요!

In [88]:
def greeting(name ='익명', age):
    return f'{name}님의 나이는 {age} 입니다.'

SyntaxError: parameter without a default follows parameter with a default (1858466238.py, line 1)

In [86]:
# 기본값은 뒤로 넣어야 사용가능
def greeting(age, name ='익명'):
    return f'{name}님의 나이는 {age} 입니다.'

In [79]:
def greeting(name='익명'):
    return f'{name}님 반갑습니다.'

In [85]:
greeting(10)

'익명님의 나이는 10 입니다.'

In [89]:
greeting(10, '길동')

'길동님의 나이는 10 입니다.'

## 4. 키워드 인수
- 함수를 호출(실행)할 때 내가 원하는 위치에 직접적으로 특정인자를 전달

In [91]:
def greeting(age, name='익명'):
    return(f'{name}님의 나이는{age}입니다')

In [94]:
print(greeting(10))
print(greeting(10, '길동'))
print(greeting(name='길동', age=10))

익명님의 나이는10입니다
길동님의 나이는10입니다
길동님의 나이는10입니다

### 4-1 가변인자 리스트

- 데이터가 얼마나 들어올지 모르는 상황
- 입련되는 데이터는 전부 Tuple로 보관

```python
def func(*parms):
    code...
```

In [95]:
print('hi', 'hello', 'my', 'name', 'is')

hi hello my name is

In [96]:
def my_print(*words):
    print(words)

In [99]:
# 더욱 많은 데이터를 입력해도 출력 가능
my_print('my', 'name', 'is')

('my', 'name', 'is')

In [100]:
max(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

10

In [136]:
def my_max(*numbers):
    max_num=numbers[0]
    
    for num in numbers:
        if(max_num<num):
            max_num=num
    return max_num

In [137]:
my_max(3, 10, 6, 11, 1)

11

### 4-2. 정의되지 않은 키워드 인자 처리하기

- 어떤 값이 들어올지 모르기 때문에 정의 없이 키워드 인자를 처리하는데 활용
  

```python
def func(**kwargs):
    code...
```

In [138]:
info = {
    'name': 'kim',
    'age': 10,
}
print(info)

{'name': 'kim', 'age': 10}

In [144]:
info = dict(name='hong', age=10, location='seoul') #dict 함수에 어떤 값이 지정될지 모를대 키워드 인자 사용
print(info)

{'name': 'hong', 'age': 10, 'location': 'seoul'}

In [141]:
def my_dict(**kwargs):
    print(kwargs)

In [142]:
my_dict(asdf='123', qwer='456')

{'asdf': '123', 'qwer': '456'}

### 4-3. dictionary를 인자로 넣기(unpacking)

In [145]:
def sign_up(username, pw, pw_conf):
    if pw == pw_conf:
        print(f'{username}님 회원가입을 환영합니다.')
    else:
        print('비밀번호가 일치하지 않습니다.')

In [148]:
sign_up('hong', '1234', '123')
sign_up('hong', '1234', '1234')

비밀번호가 일치하지 않습니다.
hong님 회원가입을 환영합니다.

In [151]:
user_info = {
    'username': 'hong',
    'pw': '1234',
    'pw_conf': '1234',
}

sign_up(**user_info)

hong님 회원가입을 환영합니다.

### 4-4. lambda 표현식

```python
lambda praameter: expression
```

In [152]:
def my_sum(num1, num2):
    return num1 + num2

In [153]:
my_sum(1,3)

4

In [154]:
(lambda num1, num2: num1 + num2)(1, 2)

3

### 4-5. 타입힌트
- parameter의 type형태를 힌트로 주는 것

In [158]:
def my_sum(a: 'int', b: 'int') -> int:
    return a + b

In [161]:
my_sum(1, 2)

3

## 5. 이름공간(scope)

- python에서 사용되는 이름들은 이름공간에 저장되어있습니다.
1. Local: 정의된 함수 내부
2. Enclosed: 상위함수
3. Global: 함수 밖
4. Built-in: python이 기본적으로 가지고 있는 함수 / 변수

In [168]:
# str 과 같이 원래 있는 변수에 str = 'hi'라는 값을 저장하면 기본적으로 가지고 있던 기본적인 함수 기능 상실

In [170]:
a = 1

def local_scope(a):
    return a

print(a)
print(local_scope(5))

1
5

In [173]:
# 전역에 있는 a 값을 함수 안으로 끌고와 사용하는 방법

a = 10

def global_scope():
    global a
    a = a + 1
    return a

global_scope()

11

## 6. 재귀

- 재귀함수는 함수 내부에서 자기 자신을 호출하는 함수입니다.

n! = 1 * 2 * 3 * ...n

- 1! = 1
- 2! = 1 * 2 = 1! * 2
- 3! = 1 * 2 * 3 = 2! * 3
- n! = (n-1)! * n

In [174]:
def fact(n):
    if n == 1:
        return 1
    else:
        return fact(n-1) * n

print(fact(5))

120