# 메소드

## 1. 문자열 메소드

In [4]:
a = 'hello my name is hong'

In [5]:
print(a)

hello my name is hong

In [11]:
# 첫번째 글자를 대문자로 변경
print(a.capitalize())

Hello my name is hong

In [12]:
# 모든 단어들의 첫번째 글자를 대문자로 변경
print(a.title())

Hello My Name Is Hong

In [9]:
# 모든 단어들을 대문자로 변경
a.upper()

'HELLO MY NAME IS HONG'

In [10]:
# 모든 단어들을 소문자로 변경
a.lower()

'hello my name is hong'

In [15]:
my_list = ['my', 'name', 'is']
print('_'.join(my_list)) #리스트를 묶는 함수

my_name_is

In [22]:
my_string = '   hello \n    '
#print(my_string)
print(my_string.strip()) #양옆의 공백을 지울때 사용
my_string2 = '-----------hello-----------'
print(my_string2.strip('-')) # 양쪽 데이터 제거
print(my_string2.lstrip('-')) # 왼쪽 데이터 제거
print(my_string2.rstrip('-')) # 오른쪽 데이터 제거

hello
hello
hello-----------
-----------hello

In [26]:
a = 'wooooooooooow'

a.replace('o', '?', 4) #('과거글자', '바꿀글자', '몇개') 로 바꾸기 위해 사용

'w????ooooooow'

In [33]:
a = 'apple'
print(a.find('a')) # 찾는 글자의 위치 표기
print(a.find('l'))
print(a.find('p'))
print(a.find('z')) # 없는 데이터는 -1 표기

0
3
1
-1

In [35]:
a = 'apple'
print(a.index('a')) 
print(a.index('p'))
print(a.index('z')) # 없는 데이터는 에러 표기

0
1

ValueError: substring not found

In [40]:
a = 'my name in hong'
print(a.split()) # 데이터를 나누기 위해 사용
b = 'my_name_in_hong'
print(b.split('_')) # 데이터를 나누기 위해 사용

['my', 'name', 'in', 'hong']
['my', 'name', 'in', 'hong']

In [42]:
a = 'woooooooooooo'
a.count('o') # o의 갯수를 알기위해 사용

12

## 2. 리스트 메소드

In [60]:
numbers = [1, 4, 3, 6, 8, 9, 3]

In [61]:
numbers.append(10) # 리스트에 데이터 추가, *맨뒤에
print(numbers)

[1, 4, 3, 6, 8, 9, 3, 10]

In [62]:
a = ['99', '100']

numbers.extend(a)
print(numbers)
numbers = numbers + a
print(numbers)

[1, 4, 3, 6, 8, 9, 3, 10, '99', '100']
[1, 4, 3, 6, 8, 9, 3, 10, '99', '100', '99', '100']

In [63]:
numbers.insert(0, -10) # 강제로 원하는 위치에 데이터 삽입을 위해 사용
print(numbers)

[-10, 1, 4, 3, 6, 8, 9, 3, 10, '99', '100', '99', '100']

In [64]:
numbers.remove(-10) # 원하는 값의 데이터를 지우기 위해 사용
print(numbers)

[1, 4, 3, 6, 8, 9, 3, 10, '99', '100', '99', '100']

In [65]:
result = numbers.pop() # 맨 뒤에있는 데이터를 빼올때 사용
print(numbers, result)

result = numbers.pop(0) # 위치를 지정해서 데이터 빼올때 사용
print(numbers, result)

[1, 4, 3, 6, 8, 9, 3, 10, '99', '100', '99'] 100
[4, 3, 6, 8, 9, 3, 10, '99', '100', '99'] 1

In [68]:
numbers.sort() # 직접 정렬을 위해 사용
print(numbers)

numbers.sort(reverse=True) # 내림차순
print(numbers)

[1, 2, 3, 3, 5, 7, 8]
[8, 7, 5, 3, 3, 2, 1]

In [69]:
numbers = [5, 3, 7, 1, 8, 2, 3]

print(sorted(numbers)) # 배열이 정렬 되었을 때의 모습을 확인
print(numbers)

[1, 2, 3, 3, 5, 7, 8]
[5, 3, 7, 1, 8, 2, 3]

In [72]:
print(numbers)
numbers.reverse() #원래 데이터를 역전하여 사용
print(numbers)

[5, 3, 7, 1, 8, 2, 3]
[3, 2, 8, 1, 7, 3, 5]

In [77]:
print(numbers)
print(numbers[-2]) # 뒤에서부터 데이터를 indexing
print(numbers[::-1]) # 결과적으로 reverse와 같은 모습

[3, 2, 8, 1, 7, 3, 5]
3
[5, 3, 7, 1, 8, 2, 3]

### 2-1. list copy

In [78]:
origin_list = [1, 2, 3]
copy_list = origin_list

In [79]:
print(origin_list)
print(copy_list)

[1, 2, 3]
[1, 2, 3]

In [80]:
origin_list[0] = 100

In [81]:
print(origin_list)
print(copy_list) # 주소에 저장된 값이 같기에 같이 수정됨

[100, 2, 3]
[100, 2, 3]

In [82]:
origin_list = [1, 2, 3]
copy_list = origin_list[:] #값을 가지고와서 새로 저장하기에 수정되지 않음

origin_list[0] = 100

print(origin_list)
print(copy_list)

[100, 2, 3]
[1, 2, 3]

In [83]:
origin_list = [    1,   2,  [3, 4]   ]
copy_list = origin_list[:]

origin_list[0] = 100
origin_list[2][0] = 300

print(origin_list)
print(copy_list)

[100, 2, [300, 4]]
[1, 2, [300, 4]]

In [84]:
import copy
origin_list = [1, 2, [3, 4]]
copy_list = copy.deepcopy(origin_list)

origin_list[0] = 100
origin_list[2][0] = 300

print(origin_list)
print(copy_list)

[100, 2, [300, 4]]
[1, 2, [3, 4]]

### 2-2. list comprehension

In [86]:
numbers = list(range(1, 11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [92]:
result = []

for number in numbers:
    temp = number**3
    result.append(temp)
print(result)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [93]:
result = [number ** 3 for number in numbers]
print(result)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [95]:
# 짝수만 고르기

result = []

for number in numbers:
    if number % 2 == 0:
        result.append(number)

print(result)

[2, 4, 6, 8, 10]

In [96]:
result = [number for number in numbers if number % 2 == 0]
print(result)

[2, 4, 6, 8, 10]

In [132]:
# 연습!

words = 'my name is hong'
# 모음제거 => my mn s hng

vowels = ['a', 'e', 'i', 'o', 'u']
result = []

for word in words:
    if word not in vowels:
        #자음인 경우
        result.append(word)

print(result)
print(''.join(result))

['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'h', 'n', 'g']
my nm s hng

In [134]:
vowels = ['a', 'e', 'i', 'o', 'u']
result = [char for char in words if char not in vowels]
print(''.join(result))

my nm s hng

In [135]:
# 3. replace 메소드 활용

vowels = ['a', 'e', 'i', 'o', 'u']

for char in vowels:
    words = words.replace(char, '')

print(words)

my nm s hng

## 3. Dictionary 메소드

In [137]:
info = {
    'name': 'hong',
    'location': 'seoul',
    'age': 20,
    'models' : ['iphone', 'mac Book', 'watch'],
    'phone_book' : {
        'kim': '010-1234-1234',
        'lee': '010-4567-4567',
    }
}

In [141]:
print(info['name'])
print(info['age'])
print(info['models'][0])
print(info['phone_book']['kim'])

hong
20
iphone
010-1234-1234

In [144]:
# 수정을 위한 메소드
info['name'] = 'park'
print(info)

info.update(name='oh')
print(info)

{'name': 'park', 'location': 'seoul', 'age': 20, 'models': ['iphone', 'mac Book', 'watch'], 'phone_book': {'kim': '010-1234-1234', 'lee': '010-4567-4567'}}
{'name': 'oh', 'location': 'seoul', 'age': 20, 'models': ['iphone', 'mac Book', 'watch'], 'phone_book': {'kim': '010-1234-1234', 'lee': '010-4567-4567'}}

In [145]:
age = info.pop('age')
print(info, age)

{'name': 'oh', 'location': 'seoul', 'models': ['iphone', 'mac Book', 'watch'], 'phone_book': {'kim': '010-1234-1234', 'lee': '010-4567-4567'}} 20

In [148]:
#데이터에 접근하는 방법
print(info.get('name'))
print(info['name'])

oh
oh

In [150]:
print(info.get['birth'])

TypeError: 'builtin_function_or_method' object is not subscriptable

In [151]:
print(info.get('birth'))

None

In [169]:
#연습문제
blood_type = ['A', 'B', 'B', 'O','AB', 'A']

# => blood_dict = {'A': 2, 'B': 2, 'AB': 1, 'O': 1}

blood_dict = {}

for I in blood_type:
    if I == 'A':
        blood_dict['A'] = blood_type.count('A')
    elif I == 'B':
        blood_dict['B'] = blood_type.count('B')
    elif I == 'AB':
        blood_dict['AB'] = blood_type.count('AB')
    else:
        blood_dict['O'] = blood_type.count('O')
print(blood_dict)

{'A': 2, 'B': 2, 'O': 1, 'AB': 1}

In [170]:
result = {
    'A': 0,
    'B': 0,
    'AB': 0,
    'O': 0,
}

for blood in blood_type:
    result[blood] += 1

print(result)

{'A': 2, 'B': 2, 'AB': 1, 'O': 1}

In [175]:
locations = ['서울', '대전', '서울', '부산', '강릉', 'LA', '도쿄']

result = {}

for location in locations:
    result[location] = locations.count(location)

print(result)

{'서울': 2, '대전': 1, '부산': 1, '강릉': 1, 'LA': 1, '도쿄': 1}

In [176]:
result = {}

for location in locations:
    if result.get(location):
        result[location] += 1
    else:
        result[location] = 1
print(result)

{'서울': 2, '대전': 1, '부산': 1, '강릉': 1, 'LA': 1, '도쿄': 1}

### 3-1. dict comprehension

In [177]:
# {1: 1, 2: 8, 3: 27, ... 10: 1000}

result = {}
numbers = list(range(1, 11))

for number in numbers:
    result[number] = number ** 3

print(result)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [178]:
result = {number: number ** 3 for number in numbers}
print(result)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [182]:
dust = {
    '서울': 50,
    '대전': 100,
    '부산': 70,
    '광주': 90,
}

# result = {'대전': 100, '광주': 90}
result = {}
for key, value in dust.items():
    if value > 70:
        result[key] = value
print(result)

{'대전': 100, '광주': 90}

In [185]:
# comp
result = {k: '나쁨' for k, v in dust.items() if v > 70}
print(result)

{'대전': '나쁨', '광주': '나쁨'}

## 4. 세트(set) 메소드

In [206]:
#set
fruits = {'apple', 'banana', 'melon'}

In [207]:
print(fruits)

{'melon', 'banana', 'apple'}

In [208]:
# set를 안에 값을 넣는 것
fruits.add('watermalon')
print(fruits)

{'melon', 'watermalon', 'banana', 'apple'}

In [209]:
# => extends 원래 set와 다른 set를 합치기 위해 사용
fruits.update({'grape', 'orange'})
print(fruits)

{'grape', 'watermalon', 'banana', 'melon', 'orange', 'apple'}

In [210]:
fruits.remove('apple')
print(fruits)

{'grape', 'watermalon', 'banana', 'melon', 'orange'}

In [211]:
fruits.pop()
print(fruits)

{'watermalon', 'banana', 'melon', 'orange'}

## 5. map, filter, zip
> 반복작업을 조금 편하게 도와주는 함수

### 5-1. map
> map(function, iterable)

In [214]:
numbers = [1, 2, 3, 4, 5]
# => ['1', '2', '3', '4', '5']

result = []
for number in numbers:
    result.append(str(number))
print(result)

['1', '2', '3', '4', '5']

In [220]:
result = map(str, numbers)

print(result)

print(list(result)) #list로 바꿔야 출력 가능

<map object at 0x105cd9900>
['1', '2', '3', '4', '5']

In [217]:
result = []

for number in numbers:
    result.append(number ** 3)
print(result)

[1, 8, 27, 64, 125]

In [218]:
def cube(x):
    return x ** 3

In [219]:
result = map(cube, numbers)
print(list(result))

[1, 8, 27, 64, 125]

In [233]:
test_input = '1 3 5 7 9'
print(list(map(int, test_input.split())))

[1, 3, 5, 7, 9]

### 5-2. filter
> filter(function, iterable)

In [237]:
def is_odd(x):
    return x % 2

In [234]:
numbers = [1, 2, 3, 4, 5]

result = []
for number in numbers:
    if number % 2:
        result.append(number)
print(result)

[1, 3, 5]

In [239]:
# 값에 부합하는 값만 추출
result = filter(is_odd, numbers)
print(list(result))

[1, 3, 5]

### 5-3 zip

In [241]:
# 같은 위치에 있는 값을 묶을 때 사용
a = [1, 2, 3]
b = [100, 200, 300, 400, 500]

result = zip(a, b)
print(result)
print(list(result))

<zip object at 0x1055b8fc0>
[(1, 100), (2, 200), (3, 300)]